.content {
    position: relative;
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: small;
    white-space: nowrap;
}

.inputField {
    width: 100%;
    font-size: large;
}
