.content {
    position: relative;
    display: flex;
    justify-content: center;
}

.label {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: x-small;
}

.inputField {
    width: 100%;
    font-size: large;
}
