.content {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.label {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: x-small;
    white-space: nowrap;
}

.inputField {
    width: 100%;
    font-size: large;
}
