.content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.label {
    position: absolute;
    top: -20px;
    left: 0;
    font-size: x-small;
}

.inputField {
    width: 100%;
    font-size: large;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.noResize {
    resize: none;
}
