.content {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    overflow: hidden;
    /* box-shadow: 0 2px 12px #edeff0; */
}

.properties {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.flex {
    display: flex;
    width: 100%;
}

.editButton {
    position: absolute;
    right: 5px;
    top: 5px;
}

.deleteButton {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.gallery {
    width: 100%;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 10px 0 10px 0;
    font-weight: 600;
    height: 4em;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.details{
    display: none;
}

.prop {
    display: flex;
    align-items: baseline;
}

.propName {
    font-size: small;
    color: #5D5D64;
}

.propValue {
    /* color: '#5D5D64', */
    font-size: large;
}

.controlsLeft {
    display: flex;
    width: 100%;
}

.controlsLeft > *:not(:last-of-type) {
    display: flex;
    margin-right: 10px;
}

.controls {
    display: flex;
    width: 100%;
    padding: 10px
}

/* .controls > *:not(:last-child) {margin-right: 15px;} */
