.content {
    position: sticky;
    grid-column: 1 / last-line;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    transition: top .3s;
}

.open {
    position: sticky;
    top: 0;
}

.showControl {
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
}

.buttonContent {
    display: flex;
    align-items: center;
}

.button {
    height: 30px;
    background-color: #e3e3e3;
    border: none;
    border-radius: 0 0 10px 10px;
}
