.content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
}

.inputLabel {
    color: white;
    font-size: 12px;
}

.inputField {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
}

.control {
    display: flex;
    all: unset;
    cursor: pointer;
}

.icon {
    display: block;
    width: 30px;
    height: auto;
    fill: #ffffff;
}

.background {
    position: relative;

}

.search {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    z-index: 1;
}
